body{
    width: 100%;
    height: 100vh;

}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app{
    width: 650px;
    height: 650px;
    background-color: #4a752c;
    border-radius: 12px;
}
header{
    height: 70px;
    width: 100%;
    background-color: #4a752c;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 12px;
}
.header-left{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 17px;
    padding-left: 25px;
    box-sizing: border-box;
}
.header-right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 10px;
    padding-right: 25px;
    box-sizing: border-box;
}
.header-left img{
    width: 38px;
    height: 38px;
    color: #fff;
}
.header-right img{
    width: 28px;
    height: 28px;
    color: #ffffff;
}
.header-left div{
    display: flex;
    align-items: center;
    color: #fff;
    column-gap: 7px;
}
.header-left p{
    font-size: 22px;
    font-weight: 800;
}
.header-right button{
    background-color: transparent;
    color: #fff;
    border: none;
    width: fit-content;
    height: fit-content;
}
.header-right img{
    color: #fff;
}